#animatedbutton {
    background-color: #8FBCDB;
    display: block;
    margin: 0px;
    padding: 0px;
    width: 150px;
    border: 1px solid #F4D6BC;
}

#animatedbutton figure {
    display: inline-block;
    margin: 0px;
}

#animatedbutton figure img {
    width: 40px;
    vertical-align: middle;
}

#animatedbutton span {
    color: #EEE;
    vertical-align: middle;
}


body {
    background-color: #F8E4CC;
}

h1 {
    color: #153450;
}

h2 {
    color: #294052;
}

#modifiedbutton {
    border: 1px solid #F4D6BC;
    background-color: #8FBCDB;
    background-image: url("dancing_cute_cat.gif");
    background-repeat: no-repeat;
    background-size: 40px;
    color: #EEE;
    font-size: 16px;
    font-family: Times;
    height: 45px;
    text-align: right;
    width: 150px;
    cursor: pointer;
}